body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
.blue-font {
  color: 
  #2196F3;
}
h3 {
  font: 700;

  font-size: 18px;

  line-height: 36px;
}
p {

  font-weight: 400;
  size: 16px;
  line-height: 30px;
  color: #757575;

}
.none {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 100%;
}
.another-none {
 
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
}
.buttons :hover,
.button:focus {
  color:#2196F3;
}
.another-none:hover,
.another-none:focus {
  color:#2196F3;
}
.href :hover,
.href:focus {
  color:#2196F3 ;
}
a {
  text-decoration: none;
  color: #212121;
  font-size: 14px;
}
link{ text-decoration: none;}
a:hover , a:focus {
    color: #2196F3;
}
button{
    line-height: 139%;
    cursor: pointer;
}
.href{
    line-height: 146%;
}