body{
  font-family: "Roboto", sans-serif;
  color: #212121;
}
.blue-font {
  color: #2196f3;
}
h1 {
  color: #ffffff;
  text-align: center;
}
h2 {
  text-align: center;
  margin-bottom: 50px;
}
h3 {
  font: 700;

  font-size: 18px;

  line-height: 36px;
}
p {
  font-weight: 400;
  size: 16px;
  line-height: 30px;
  color: #757575;
}
.none {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 100%;
  margin-left: 215px;
}
.another-none {
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
}
.buttons :hover,
.button:focus {
  color: #2196f3;
}
.another-none:hover,
.another-none:focus {
  color: #2196f3;
}
.href :hover,
.href:focus {
  color: #2196f3;
}
a {
  text-decoration: none;
  color: #212121;
  font-size: 14px;
}
link {
  text-decoration: none;
  color: aliceblue;
}
a:hover,
a:focus {
  color: #2196f3;
}
button {
  line-height: 139%;
  cursor: pointer;
}
button-place{
  margin-left:550px;
}
.href {
  line-height: 146%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1200px;
  flex-direction: row;
  margin: 0 auto;
}
.section {
  padding: 94px;
}
.about-us {
  display: flex;

  height: 101px;
}
.logo {
  margin-left: 215px;
}
.card-set {
  list-style: none;
  display: flex;

  flex-wrap: wrap;
  gap: 30px;
  height: 100%;
}
.card-index {
  list-style: none;
  display: flex;
  gap: 30px;
  height: 100%;
}
.card {
  flex-basis: calc((100% - 2 * 30px) / 3);
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.page-header {
  display: flex;
  justify-content: space-between;

  height: 80px;

  align-items: center;
  padding: 10px;
  border: 1px solid #ececec;
  margin-bottom: 94px;
}
.menu1 {
  list-style: none;
  display: flex;
  justify-content: center;
}
.menu1 > .item:not(:last-child) {
  margin-right: 32px;
}
.menu {
  display: flex;
  list-style: none;
  justify-content: center;
}

.menu > .item:not(:last-child) {
  margin-right: 8px;
}
footer {
  background-color: #2f303a;

  height: 252px;
}
.footer-adress {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-left: 215px;
  list-style: none;
}
.footer-color {
  color: #ffffff 60%;
}

.img {
  background-color: #2f303a;
}
